<div class="row"><h3 style="margin-left:3%">Editing Invoice</h3> <span style="margin-left:72%"><%= link_to 'Back', order_path(@order) %></span></div>
<br>

<%= render 'editinvoice', order: @order %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', order_path(@order) %>
