<footer style="width: 100%;height: 100px;color: black">
  <div class="footer-invoice-text">Reklamationen richten Sie bitte nur schriftlich mit einer Rechnungskopie und unverzuglich an unsere
Firma. Erfullungsort und Gerichtsstand ist Neuss. Die Ware bleibt bis zur restlosen Bezahlung unser
Eigentum. </div>
</footer>

<style type="text/css">


.footer-invoice-text {
  color: #222;
  padding-top: 18px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
</style>