<div class="row"><h3 style="margin-left:3%">Editing Reservation</h3> <span style="margin-left:72%"><%= link_to 'Back', reservation_path(@order) %></span></div>
<br>
<%= render 'form', order: @order %>